{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    [
      "@babel/preset-react"
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties"
    ],
    ["module-resolver",{
      "alias": {
        "@utils": "./src/utils",
        "@plugins": "./src/plugins",
        "@client": "./src/client"
      }
    }]
  ]
}
